/*--_---starts here------*/

* {
    --lightgreen-color: #E2EBE8;
    --darkgreen-color: #78ADBD;
    --lightblue-color: #DBF5FA;
    --darkblue-color: #3692B8;
    --tan-color: #D1B4A1;
    --green-color: #65AE9B;
    --red-color: #EAB3B3;
    --olive-color: #EDD023;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h1{
  font-size: 1.6em;
}
hr {
  border-top: 2px solid var(--darkgreen-color);
}

#html-body {
  background-color: var(--lightgreen-color);
  color: var(--darkgreen-color);
  /*font-family: 'Patrick Hand', cursive;*/
  /*font-family: 'Neucha', cursive;*/
  font-family: 'Reenie Beanie', cursive;
  /*font-family: 'Waiting for the Sunrise', cursive;*/
  /*font-family: 'Patrick Hand SC', cursive;*/
  /*font-family: 'Loved by the King', cursive;*/
  /*font-family: 'Just Me Again Down Here', cursive;*/
}

.white-footer {
  /* Set the fixed height of the footer here */
  height: 60px;
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/**** side navigation bar ****/
.fa {
  padding-top: 10px;
  color: white;
}

.fa-home:before, 
.fa-pencil-square-o:before,
.fa-sign-in:before,
.fa-area-chart:before, 
.fa-sign-out:before,
.fa-table:before
{
  font-size: 2em;
}

.fa-github-alt {

}
.fa-github-alt:before
{
  font-size: 48px;
  color: black;
}
.navIcon{
  margin-top: 2em;
  max-height: 35px;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--darkgreen-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 8px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: underline;
    font-size: 25px;
    color: white;
    transition: 0.3s;
    position: absolute;
    left: 45px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

/*****chart header*******/

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1em;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 1em;
    text-align: center;
}

#Today {background-color:#92b8b8;}
#This-Week {background-color:#bda58d;}
#This-Month {background-color:#e0c6df;}
#This-Year {background-color:#abc6d1;}



.intro, .our-mission {
  font-size: 2.1em;
}
/*pie chart style*/
#big-pie-chart {

}

.big-pie-container {
  width: 380px;
  margin-left: -100px;
  margin-bottom: -25px;
}

.big-header, .add-a-meal{
  padding-top: 1em;
  font-size: 3.6em;
  padding-left: 2em;
  font-family: 'Neucha', cursive;
  /*font-family: 'Waiting for the Sunrise', cursive;*/
  /*font-family: 'Loved by the King', cursive;*/
}

#username{
  height: 2em;
}

/*. "add a meal" styel. */
.add-a-meal-container {
  /*font-family: 'Nunito', sans-serif;*/
  font-family: 'Source Code Pro', monospace;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.add-a-meal {
  margin-left: 5%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--darkgreen-color);
}

.add-a-meal-form {
  margin-left: 5%;
  margin-bottom: 2em;
}

/* button settings */
.btn {
  height: 2.3em;
  border-radius: 25px;
  border-color: var(--darkgreen-color);
  background-color: white;
  font-size: 26px;
  line-height: 28px;
  max-height: 1.5em;
}

.add-btn {
  width: 20%;
  /*font-size: 2em;*/
}

.btn.focus, .btn:hover, .btn:focus, .btn:active {
  outline: none !important;
  color: var(--darkgreen-color) !important;
}

.add-btn:focus {
  padding: 0.5em;
  outline: -webkit-focus-ring-color var(--darkgreen-color) 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 2px rgba(120, 173, 189, 0.52);;
  box-shadow: inset 0 0px 0px rgb(255, 255, 255), 0px 0px 6px 2px rgba(120, 173, 189, 0.52);
}

.submit-btn {
  display: block;
  width: 10%;
  margin-left: 85%;
  margin-top: 0.5em;
}

.login-btn {
  width: 20%;
  float: right;
}

.signup-btn {
  min-width: 25%;
  float: right;
  padding: 5px;
}

.go-btn {
  min-width: 25%;
  font-size: 26px;
  line-height: 28px;
  max-height: 1.5em;
}
/* form containers */

.form-container {
  background-color: white;
  padding-bottom: 2em;
}

.signupform-container {
  margin-top: 2em;
}

.bottom-container
{
  padding: 1em; 
}
/*input filed style*/

input {
  font-size: 26px;
  line-height: 28px;
  max-height: 1.5em;
}
.add-a-meal-input {
  width: 45%;
  border-radius: 20px;
  -webkit-appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: auto;
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--darkgreen-color);
}

input:focus {
  outline: -webkit-focus-ring-color var(--darkgreen-color) 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0px 0px 6px 2px rgba(120, 173, 189, 0.52);;
  box-shadow: inset 0 0px 0px rgb(255, 255, 255), 0px 0px 6px 2px rgba(120, 173, 189, 0.52);;
}

input::placeholder {
  color: rgba(120, 173, 189, 0.65);
}
ul.food-group-ul > li > input {
  border: 0.2px;
  border-style: solid;
  border-color: rgba(120, 173, 189, 0.33);
  width: 83%;
  color: brown;
  text-align: center;
  padding: 0.4em;
}

ul.food-group-ul > li > input:focus {
  border: 1px;
 }


input.userlogin-input {
  border-radius: 20px !important;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid var(--darkgreen-color);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-bottom: 1em;
}

input.userlogin-input:focus {
  border-color: var(--green-color);
  border-top-color: var(--green-color);
  border-right-color: var(--green-color);
  border-bottom-color: var(--green-color);
  border-left-color: var(--green-color);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

/*other styling*/
.food-group-ul {
  list-style: none; 
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em; 
  padding: 2em;
}

.food-group-li {
  width: 20%;
  text-align: center;

}

.food-group-li:nth-child(1) > section {
  background: var(--tan-color);
  color: white;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  height: 250px;
  max-height: 250px;
  min-height: 175px;
}

.food-group-li:nth-child(2) > section {
  background: var(--green-color);
  color: white;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  height: 250px;
  max-height: 250px;
  min-height: 175px;
}

.food-group-li:nth-child(3) > section {
  background: var(--red-color);
  color: white;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  height: 250px;
  max-height: 250px;
  min-height: 175px;
}

.food-group-li:nth-child(4) > section {
  background: var(--olive-color);
  color: white;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  height: 250px;
  max-height: 250px;
  min-height: 175px;
}

.onion {
  position: relative;
  z-index: -2;
  margin-top: -3em;
  margin-left: -1.6em;
  transform: rotate(-30deg);
}

.onion-index {
  margin-left: 3em;
  transform: rotate(-10deg);
}

.artichoke {
  position: relative;
  z-index: -2;
  margin-top: 1em;
  margin-left: 2em;
  transform: rotate(45deg) scale(1) translate(-20px,0px);

}

#progress-chart {
  background-color: white;
}
