* {
    --lightgreen-color: #E2EBE8;
    --darkgreen-color: #78ADBD;
    --lightblue-color: #DBF5FA;
    --darkblue-color: #3692B8;
    --tan-color: #D1B4A1;
    --green-color: #65AE9B;
    --red-color: #EAB3B3;
    --olive-color: #EDD023;
}



#div {
  border: var(--olive-color); 
  border-style: solid;
}


#html-body {
  background-color: var(--lightgreen-color);
  color: var(--darkgreen-color);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}
