<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Food for Thoughts - Log a Meal</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <!-- <script src="./js/app.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Code+Pro|Comfortaa" rel="stylesheet">

</head>

<body  id="html-body" ng-app="addMeal" >
  <div class="container" ng-app="ngAnimate" style="border-style: solid;">
  <!-- top row  -->
    <div class="row">
      <div class="col-md-9, col-xs-9">
        <div class="big-header">
            <p class="text-right" id='todaysdate'>Dec 6 2017</p>
        </div> <!-- today's date -->
        <div class="add-a-meal-container" ng-controller="AddingMeal">
          <h3 class="add-a-meal">Add a meal</h3>
          <form novalidate class="meal-form, add-a-meal-form">
            <input placeholder="breakfast" class="add-a-meal-input" type="text" ng-model="meal.name" />
            <input class="btn add-btn" type="submit" ng-click="update(meal)" value="add" />
          </form>
        </div> <!-- add-a-meal-container-->
      </div> <!-- col-mid-9 -->   
      <div class="pie-chart, col-md-3, col-xs-3">
        <canvas id="big-pie-chart"></canvas>
      </div> <!-- pie-chart col-md-3 -->
    </div> <!-- top row -->
  <!-- middle row -->
    <div class="row">
      <div class="col-md-12, main-container" ng-controller="foodNamesCtrl" >
        <div class="form-container">
          <!-- <p ng-bind="mealname">breakfast?</p> -->
          <p>LUNCH</p>
          <form id="meal-form" ng-submit="submit()">
            <ul class="food-group-ul">
              <li class="food-group-li" ng-repeat="x in foodGroups" ng-init = "data[$index] = x;" ng-model = "data[$index]">
                <input type="number" placeholder="0 - 20" ng-model = "data[$index].num" name="num"/> 
                <h2>{{ x.group }}</h2>
                <section style="background-color: lightblue;">
                  {{x.example}}
                </section>
              </li>
            </ul>
           <input class="btn submit-btn" type="submit" id="submit" value="Submit" />
          </form>
        </div> <!--form container -->
      </div> <!-- main-container -->
    </div> <!-- middle row -->
    <div class="row">
      <div style="border-style: solid; border-color: red;" class="col-md-12, bottom-container">
        <div class="row">
          <div class="col-md-3">
            <canvas id="small-pie-chart"></canvas>
          </div>
          <div class="col-md-3">
            <canvas id="small-pie-chart"></canvas>
          </div>
          <div class="col-md-3">
            <canvas id="small-pie-chart"></canvas>
          </div>
          <div class="col-md-3">
            <canvas id="small-pie-chart"></canvas>
          </div>
        </div>
        
      </div> <!-- bottom-container -->
    </div>  
  </div> <!-- container -->
<!--   <footer class="white-footer">
  <p>cool things like github and main page pr presentation etc</p>
  <p>hello I'm {{ 5 + 5 }} testing anguler</p>
  </footer> -->

<script>
  var today = new Date();
  var username = getName();
  function getName() {
    return localStorage.getItem('loginInfo');
  }

  var mealName =  undefined;
  var mealData = {};

  var app= angular.module('addMeal', []);

    app.controller('AddingMeal', ['$scope', function($scope) {
      $scope.master = {};
      $scope.mealName = {};
      $scope.update = function(meal) {
        console.log(meal)
        $scope.master = angular.copy(meal);
        mealName = meal;
      };

      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };

      $scope.reset();

    }]);

    app.controller('foodNamesCtrl', ['$scope', function($scope) {
      
      $scope.data = {};

      $scope.foodGroups = [
        {group:'Carb',example:'1 slice bread'},
        {group:'Fruits/Veggies',example:'1 cup raw leafy vegetables'},
        {group:'Protein',example:'3 oz cooked meat'},
        {group:'Oil and Fat',example:'1 tsp soft margarine'},
      ];
      
      $scope.submit = function() {
        mealData = {
          user: username,
          meal: mealName.name,
          protein: $scope.data[2].num,
          carb: $scope.data[0].num,
          fat: $scope.data[3].num,
          veggies: $scope.data[1].num
        }
        console.log(mealData)
      };
        //console.log($scope.data[0], mealData);
    }]); //closing foodNameCtrl

  var ctx = document.getElementById("big-pie-chart").getContext('2d');

  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        //labels: ["Grain", "Vaggies/Fruits", "Protein", "Fat/Oil"],
        datasets: [{
            label: "today's consumption",
            data: [33, 40, 15, 12],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
      },
      options: {
        cutoutPercentage: 0
      }
  });

    var ctxS = document.getElementById("small-pie-chart").getContext('2d');

  var myChart = new Chart(ctxS, {
    type: 'pie',
    data: {
        //labels: ["Grain", "Vaggies/Fruits", "Protein", "Fat/Oil"],
        datasets: [{
            label: "today's consumption",
            data: [33, 40, 15, 12],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
      },
      options: {
        cutoutPercentage: 0
      }
  });


</script>
</body>
</html>
