<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Food for Thoughts - sing up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="./js/app.js"></script>
    <script src="./js/script.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand|Source+Code+Pro|Kalam|Averia+Sans+Libre|Bad+Script|Delius|Give+You+Glory|Just+Me+Again+Down+Here|Loved+by+the+King|Neucha|Pangolin|Patrick+Hand+SC|Reenie+Beanie|Sunshiney|Swanky+and+Moo+Moo|Waiting+for+the+Sunrise" rel="stylesheet">
    <script src="https://use.fontawesome.com/bb4be6b7dd.js"></script>
</head>
<body id="html-body">
  <div id="slideSidenav" class="sidenav">
    <div>
      <i class="fa fa-bars openNav" aria-hidden="true" style="color:white; font-size:30px;cursor:pointer"></i>
    </div>
    <div class="navIcon">
      <i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a>
    </div>
    <div class="navIcon">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/signup">signup</a>
    </div>
    <div class="navIcon">
      <i class="fa fa-sign-in" aria-hidden="true"></i><a href="/login">Log In</a>
    </div>
    <div class="navIcon">
      <i class="fa fa-area-chart" aria-hidden="true"></i><a href="/chart">Analysis</a>
    </div>
    <div class="navIcon">
      <i class="fa fa-sign-out" aria-hidden="true"></i><a href="#" id="logout">Log Out</a>
    </div>
  </div> <!-- slide Nav -->
  <div class="container"  ng-app="user-login" ng-controller="login">
    <div class="row">
      <div class="big-header">
        <p class="text-center">Welcome to Food for Thoughts</p>
      </div>
        <hr style="width: 80%;">
      <div class="col-md-1 col-sm-1"> 
      </div>
      <div class="col-md-7 col-sm-7">  
        <div class="text-left our-mission" >
          <p> Take your First Step of Your Journey to Healthy Eating with us.</p>
          <p>There are many apps that can track calories and macros, but they require lot of work and it's overwhelming. <br>Many of us stop using them after a wile.</p> 
          <p>Some dieters become too obsessed with numbers and their emotional health is in danger.</p>
          <p>we wanted to strike the right balance and build something sustainable, easy to use, and effective. <br>Our analysis chart can show your progress on one screen.</p>
          <p>Together, we will build our healthy food habit for our healthy life style.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 signupform-container" ng-controller="login">
          <form novalidate class="login-form">
            <input type="text" class="userlogin-input" placeholder="Username" aria-describedby="sizing-addon1" ng-model="user.username" />
            <input type="text" class="userlogin-input" placeholder="password" aria-describedby="sizing-addon1" ng-model="user.password" />
            <input class="btn signup-btn" type="submit" ng-click="update(user)" value="Join" />
          </form>  
          <img class='artichoke' src="../artichoke.png" alt="onion">
          
      </div>
    </div> <!-- first row -->
    <div class="row">
        <img class='onion' src="../onion.png" alt="onion">
    </div>  
 <!-- login controller -->
<!--   <footer class="footer">
  <p>cool things like github and main page pr presentation etc</p>
  <p>hello I'm {{ 5 + 5 }} testing anguler</p>
  </footer> -->
  </div> <!-- container -->
<script>
  var newUser = {};
  var ctxLI = angular.module('user-login', []);
    ctxLI.controller('login', ['$scope', function($scope) {
      $scope.userInfo = {};
      $scope.user = {};

      //when form is submit, store user to userInfo 
      //and store user to the local storage 
      $scope.update = function(user) {
        $scope.userInfo = angular.copy(user);
        newUser = $scope.userInfo;
        console.log(newUser)
        localStorage.setItem('loginInfo', newUser.username);
        $scope.user = angular.copy();
        createUser();
      };
      
    }]);


  function createUser (){

    // Send the POST request.
    $.ajax("/auth/signup", {
      type: "POST",
      data: newUser
    }).done(function(data){
      if (data.redirectTo){
        window.location.href = data.redirectTo
      }
      else{
        alert("That username is already taken!")
      }
    })
  };
$('#logout').on('click', function() {
  $.get("/logout", function(data){
    window.location.href = data.redirectTo
  })     
});
</script>
</body>
</html>

<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->